<h1>ToDo list</h1>
<ng-container *ngIf="!(loaded$ | async); else tableBlock">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</ng-container>
<ng-template #tableBlock>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let todo of todos$ | async; trackBy: trackById"
        @insertRemoveTrigger
      >
        <td>{{ todo.name }}</td>
        <td>
          <a [routerLink]="['/detail', todo._id]" nz-tooltip="Edit"
            ><span nz-icon nzType="edit"></span
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            (nzOnConfirm)="deleteTodo(todo._id)"
            nz-tooltip="Delete"
            ><span nz-icon nzType="delete"></span
          ></a>
        </td>
      </tr>
    </tbody>
  </table>

  <button nz-button [routerLink]="['/detail']">Add a new task</button>
</ng-template>
